header {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 35px;
    background-color: lightblue;
    padding: 10px;
}

header a {
    color: black;
    text-decoration: none;
    font-weight: normal;
    vertical-align: center;
    margin: 10px;
}

a.rightnav{
    float: right;
}
a.leftnav{
    float: left;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

main {
    position: relative;
    top: 45px;
}

#mainpic {
    width: 30%;
    float: left;
    margin: 5px;
}